/*
My Schedule Website by Kouta Frank
Date: 10/30/2023

Filename: styles.css
*/

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 1px 1px #00000041;
    color: #1c2022;
    letter-spacing: 1.2px;
    font-size: 20px;
}